@model DemoMVC.Models.Entity.HeThongPhanPhoi

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HeThongPhanPhoi</h4>
<hr>
    <form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Chọn file Excel:</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Upload</button>
    </form>
<hr />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHTPP" class="control-label"></label>
                <input asp-for="MaHTPP" class="form-control" />
                <span asp-validation-for="MaHTPP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHTPP" class="control-label"></label>
                <input asp-for="TenHTPP" class="form-control" />
                <span asp-validation-for="TenHTPP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
